<div class="container">
    <div class="row">
        <header class="col-xs-12">
            <ul class="nav nav-tabs nav-justified">
                <li><a href="{{ path('homepage') }}">Главная</a></li>
                <li><a href="{{ path('todo.list.index') }}">Списки задач</a></li>
                <li><a href="{{ path('todo.list.create') }}">Добавить список</a></li>
                <li><a href="{{ path('todo.task.create') }}">Добавить задачу</a></li>
            </ul>
        </header>
    </div>
</div>
